@import url("https://fonts.googleapis.com/css?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css?family=Faster+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kumar+One+Outline&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap");
$Monoton: Monoton, cursive;
$fasterOne: Faster One, cursive;
$kumarOne: Kumar One Outline, cursive;
$kushan: Kaushan Script, cursive;
$delayandduration: 3;
$lines: 16;

$primary-color: mix(#ff0000, #003cff);
$secondary-color: mix(#ff008c, #3e30ff);


.authcontainer {
  margin-top: 20px;
  padding-top: 10px;
  min-height: 90vh;
  color: $primary-color;
  border: none;
  font-family: $kushan;
  font-size: 50px;
  width: 100vw;
  height: 50vh;
  border: $secondary-color solid 1px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;

  section {
    display: flex;
    flex-direction: column;
    height: max-content;
    border-radius: 5px;
    height: 40vh;
  }
  
}


    .btn {
        line-height: 50px;
        height: 50px;
        text-align: center;
        width: 250px;
        cursor: pointer;
    }
  

 
  input {
    border: none;
    border-bottom: 1px solid $secondary-color;
    font-family: "lato", cursive;
  }


.register {
  margin-top: 20px;
  padding-top: 30px;
  color: $primary-color;
  border: none;
  font-family: "lato";
  width: 100vw;
  height: 50vh;
  border: $secondary-color solid 1px;
  display: flex;
  align-items: center;
  flex-direction: column;

  section {
    width: 20vw;
    display: flex;
    flex-direction: column;
    height: max-content;
    border-radius: 5px;
  }

  button {
    background-color: $secondary-color;
    border: none;
    border-radius: 5px;
    color: ghostwhite;
  }

  button hover {
    background-color: rgb(235, 235, 235);
  }

  input {
    border: none;
    border-bottom: 1px solid $secondary-color;
    font-family: "lato", cursive;
  }
}

.background {
  height: 100%;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1568861368385-3534aca5cf41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80");
  // background-image: url('https://38.media.tumblr.com/da54d6c8193dff6fa2d1a96d4b97052b/tumblr_ntk178CTx21sh05g3o1_540.gif');
  background-clip: content-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  .first {
    display: flex;
    flex-direction: row;
    width: 100%;

    .faves {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 10px;
      justify-content: space-between;
    }
  }
}

ul {
  width: 20vw;
  height: 100vh;
  font-family: $kushan;
  font-size: large;
  align-self: center;
  right: 40vw;
  top: 7vh;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-content: center;
}

ul li {
  box-sizing: border-box;
  width: 20em;
  height: 3em;
  font-size: 20px;
  border-radius: 0.5em;
  margin: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  color: white;
  text-transform: capitalize;
  line-height: 3em;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

li {
  background: linear-gradient(to right, orange, #ff02c8);
  text-align: left;
  padding-left: 5%;
  transform: perspective(700px) rotateY(45deg);
}

#even li {
  background: linear-gradient(to left, orange, tomato);
  text-align: right;
  padding-right: 5%;
  transform: perspective(700px) rotateY(-45deg);
}

li:hover {
  transform: perspective(400px) rotateY(45deg);
  padding-left: 3%;
}

#even li {
  transform: perspective(400px) rotateY(-45deg);
  padding-right: 3%;
}

.navbar {
  align-content: start;
  width: 100%;
  height: 10vh;
  font-family: $Monoton;
  font-size: 50px;
  background: url("https://images.unsplash.com/photo-1563958839595-eb0e20a6adc6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2175&q=80");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: row;

  header {
    font-family: $Monoton;
    width: 20%;
    text-align: center;
  }

  div {
    font-size: 50%;
    font-weight: lighter;
    margin: 40px;
    text-decoration: none;
  }

  .compnav:hover {
    // background-image: linear-gradient(to top, #e66465, transparent);
    // border-bottom: 5px solid #e66465;
    // border-radius: 5px;
    animation: blueneon 3s ease-in-out infinite alternate;
  }

  .insultnav:hover {
    // background-image: linear-gradient(to top, #00a3cc, transparent);
    // border-bottom: 5px solid #00a3cc;
    // border-radius: 5px;
    animation: redneon 6s ease-in-out infinite alternate;
  }
}

.faves1 {
  font-family: $Monoton;
  font-size: 30px;
  word-spacing: 10px;
}

.faves1:hover {
  background-image: linear-gradient(to top, #e66465, transparent);
}

.fave2 {
  font-family: $Monoton;
  font-size: 30px;
  word-spacing: 10px;

}

.fave2:hover {
  background-image: linear-gradient(to top, #00a3cc, transparent);
}

.popusers {
  font-size: 60px;
  animation: userneon 6s ease-in-out infinite alternate;
}

.userinsults {
  width: 100vw;
  min-height: 100vh;
  font-size: 1rem;
  background-image: url("https://www.dropbox.com/s/2ct0i6kc61vp0bh/wall.jpg?raw=1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;

  h1 {
    font-family: Brush Script MT;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: space-around;
    font-size: 5.6rem;
    text-align: center;
    line-height: 1;
    color: #fa92ba;
    animation: blueneon 6s ease-in-out infinite alternate;
  }
}

.uinsult {
  // background-image: linear-gradient(to top, #00a3cc, transparent);
  height: 40vh;
  padding: 5%;
  border-width: 2px;
  border: solid;

  button {
    background-color: $secondary-color;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    width: 40%;
    height: 10%;
  }
}
      #ins {
        color: white;
        font-size: 25px;
        width: 20vw;
        border-radius: 10px;
        margin: 3px;
        border-color: #00a3cc;
      }


.usercomp {
  width: 100vw;
  min-height: 100vh;
  font-size: 1rem;
  background-image: url("https://www.dropbox.com/s/2ct0i6kc61vp0bh/wall.jpg?raw=1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h1 {
    font-family: Brush Script MT;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 5.6rem;
    text-align: center;
    line-height: 1;
    color: #c6e2ff;
    animation: redneon 6s ease-in-out infinite alternate;
  }

  .ucomp {
     // background-image: linear-gradient(to top, #00a3cc, transparent);
  height: 40vh;
  padding: 5%;
  border-width: 2px;
  border: solid;

    button {
      background-color: $secondary-color;
      border: none;
    border-radius: 5px;
    color: whitesmoke;
    width: 40%;
    height: 10%;
    }
  }

  #com {
    color: white;
    font-size: 25px;
    width: 20vw;
    border-radius: 10px;
    margin: 3px;
    border-color: #e66465;
  }
}

.home {
  font-family: Brush Script MT, cursive;
  width: 100vw;
  height: 100vh;
  font-size: 30rem;
  background: url("https://38.media.tumblr.com/da54d6c8193dff6fa2d1a96d4b97052b/tumblr_ntk178CTx21sh05g3o1_540.gif");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: bottom;
  animation: 4s linear 0s infinite bp;
  display: flex;
  align-items: center;
  justify-content: center;

  .geninsult {
  }

  .gencom {
  }

  ////--------------------------------------------------------------\\\\\\

  @keyframes shake {
    0% {
      transform: skewX(-15deg);
    }

    5% {
      transform: skewX(15deg);
    }

    10% {
      transform: skewX(-15deg);
    }

    15% {
      transform: skewX(15deg);
    }

    20% {
      transform: skewX(0deg);
    }

    100% {
      transform: skewX(0deg);
    }
  }

  @keyframes blueneon {
    from {
      text-shadow: 0 0 2px rgba(202, 228, 225, 0.92),
        0 0 6px rgba(202, 228, 225, 0.34), 0 0 8px rgba(30, 132, 242, 0.52),
        0 0 10px rgba(30, 132, 242, 0.92), 0 0 12px rgba(30, 132, 242, 0.78),
        0 0 16px rgba(30, 132, 242, 0.92), 0 0 18px rgba(30, 132, 242, 0.92);
    }

    to {
      text-shadow: 0 0 150px transparent;
    }
  }

  @keyframes userneon {
    from {
      text-shadow: 0 0 2px rgba(202, 228, 225, 0.92),
        0 0 6px rgba(202, 228, 225, 0.34), 0 0 8px rgba(30, 132, 242, 0.52),
        0 0 10px rgba(30, 132, 242, 0.92), 0 0 12px rgba(30, 132, 242, 0.78),
        0 0 16px rgba(30, 132, 242, 0.92), 0 0 18px rgba(30, 132, 242, 0.92);
    }

    to {
      text-shadow: 0 0 5px #7bffce, 0 0 10px #7bffce, 0 0 20px #7bffce,
        0 0 40px #7bffce, 0 0 80px #7bffce, 0 0 90px #7bffce, 0 0 100px #7bffce;
    }

    to {
      text-shadow: 0 0 2px #ff7bac, 0 0 4px #ff7bac, 0 0 6px #ff7bac,
        0 0 8px #ff7bac, 0 0 10px #ff7bac, 0 0 12px #ff7bac, 0 0 16px #ff7bac,
        0 0 18px #ff7bac;
    }

    to {
      text-shadow: 0 0 6px rgba(156, 3, 123, 0.98),
        0 0 30px rgba(116, 1, 91, 0.98), 0 0 12px rgba(136, 2, 107, 0.98),
        0 0 22px rgba(75, 18, 62, 0.98), 0 0 38px rgba(242, 30, 111, 0.88);
    }
  }

  @keyframes redneon {
    from {
      text-shadow: 0 0 2px #ff7bac, 0 0 4px #ff7bac, 0 0 6px #ff7bac,
        0 0 8px #ff7bac, 0 0 10px #ff7bac, 0 0 12px #ff7bac, 0 0 16px #ff7bac,
        0 0 18px #ff7bac;
    }

    to {
      text-shadow: 0 0 0px transparent;
    }
  }

  @keyframes picneon {
    from {
      text-shadow: 0 0 6px #ff005d, 0 0 30px #ff005d, 0 0 12px #ff005d,
        0 0 48px #ff005d, 0 0 20px #ff7bac, 0 0 32px #ff7bac, 0 0 14px #ff7bac,
        0 0 2px #ff7bac;
    }

    to {
      text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
        0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58),
        0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88);
    }
  }

  @keyframes bp {
    from {
      background-position: 198px 0;
    }

    to {
      background-position: 0 198px;
    }
  }

  html,
  body {
    height: 100%;
    margin: 0;
  }

  .text {
    font: 900 18px Ruda;
    color: #c08;
    background: white;
    display: inline-block;
    padding: 1rem;
  }
}
@media only screen and (max-width: 900px) {
    .navbar{
        display:none;
    }

    // .first {
    //     display: flex;
    //     flex-direction: row;
    //     width: 100%;
    // }
    ul{
        position: sticky;
        width: 50vw;
        height: 100vh; 
        margin-bottom: 10px;       
        margin-top: 20px;
    }
    li{
        width: 30px;
        height: 100px;
    }
    .btn{
        width: 60%;
    }
    
        .faves {
          display: flex;
          flex-direction: row;
          font-size: small;
          height: 40%;
          align-content: flex-end;
          flex-wrap: wrap;
          margin:none;

        }
        .fave2{
            font-weight: small;
        }
        .faves1{
            font-weight: small;
        }
        .popusers{
            font-size:30px;
        }
    //   }
    }
  